* {
    box-sizing: border-box;
}

body {
    font-family: serif;
    font-size: 100%;
}

h1,
h2,
h5,
h6 {
    margin: 0;
    font-size: 1.5rem;
}

h2 {
    font-size: 8rem;
}

main {
    max-width: 1440px;
}

/* .card {
    width: 10rem;
    margin: 2px 5px;
    line-height: .5rem;
} */

.card p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1rem;
}

#current-section .card {
    width: 30rem;
}

#future-section .card {
    width: 11rem;
}

#future-section .card p {
    font-size: 1rem;
}

/* #previous-section {
    width: 100%;
} */

@media (max-width: 768p) {
    
}