* {
    box-sizing: border-box;
}

body {
    font-family: serif;
    font-size: 100%;
    background-color:rgb(182, 226, 255);
}

h1,
h2,
h5 {
    font-size: 1.5rem;
}

h2 {
    font-size: 8rem;
}

main {
    max-width: 1440px;
}

footer{height: 40vh}

.card p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1rem;
}

#current-section .card {
    width: 30rem;
}

#future-section .card {
    width: 11rem;
}

#future-section .card p {
    font-size: 1rem;
}